</div>

<!-- <script type="module" src="/assets/js/script.js"></script> -->

<script>
    // Preloader Screen
    const preloader = document.getElementById("loading");

      function stopLoading() {
        preloader.style.display = "none";
      }
</script>

</body>
</html>
